# maven related files
/target/

# eclipse related files
/.settings/
.jsdtscope
.project
.classpath

# amt related files
/.amt/
/source/
configuration
application.jar
application.war
application.pid
application.log
amt-mvn-settings.xml
amt-logback.xml
